/*主站样式*/
body {
    margin: 0;
    padding: 0;
    background: #f3f3f3;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
a {
    text-decoration: none;
}
#model {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 998;
    top: 0;
    left: 0;
    opacity: .7;
    color: #fff;
    background: #000;
}
#model .tip {
    width: 100%;
    margin-top: 18%;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.text {
    font: 16px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}
.clear-input {
    outline: none;
    border: none;
    background: none;
}
.clearfix:before {
    content: "";
    display: table;
}
.clearfix:before {
    content: "";
    display: table;
}
.content {
    width: 1140px;
    margin: 30px auto;
}

/* header */
.nav-menu {
    position: relative;
    z-index: 200;
    height: 42px;
    color: #222;
}
.nav-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(168, 55%, 90%, 0.4);
    -webkit-box-shadow: rgba(0,0,0,.1) 0 1px 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(//www.acgay.cn/static/node-web/image/header-banner.png);
    background-position: center -10px;
    background-repeat: no-repeat;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
.head-banner {
    position: relative;
    z-index: 199;
    height: 170px;
    margin-top: -42px;
    background: #eee;
    background-image: url(//www.acgay.cn/static/node-web/image/header-banner.png);
    background-position: center -10px;
    background-repeat: no-repeat;
}
.fish-wrapper {
    margin: 0 auto;
    width: 1160px;
}
.clearfix {
    zoom: 1;
}
.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
    overflow: hidden;
}
.fl {
    float: left;
    display: inline;
}
.nav-item {
    padding-top: 12px;
    float: left;
    text-align: center;
    line-height: 42px;
    height: 30px;
    color: #000;
    position: relative;
    background-color: hsla(0,0%,100%,0);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.t {
    height: 100%;
    padding: 0 8px;
    color: #222;
    display: block;
    font: 13px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    z-index: 10000;
}
.fish-font {
    font: 12px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}
.nav {
    margin: 0;
    padding: 0;
}
.nav li {
    padding-left: 20px;
}
/* Banner 图部分的内容*/
.head-content {
    position: relative;
    height: 170px;
    margin: 20px auto;
    width: 1160px;
}
.head-logo {
    position: absolute;
    width: 220px;
    height: 105px;
    left: 24px;
    top: 55px;
    z-index: 10;
    color: #fffee8;
    text-shadow: 4px -4px white, 1px -1px #00baf3;
    font-size: 55px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.search {
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 268px;
    height: 32px;
    padding: 2px 2px 2px 72px;
    background-color: #e5e9ef;
    background-color: rgba(0,0,0,.12);
    border-radius: 6px;
    font-size: 12px;
    z-index: 10;
}
.searchform {
    background-color: #fff;
    background-color: hsla(0,0%,100%,.88);
    display: block;
    height: 32px;
    border-radius: 4px;
    -webkit-transition: background-color .2s;
    -o-transition: .2s background-color;
    transition: background-color .2s;
}
.search-keyword {
    float: left;
    width: 200px;
    color: #222;
    font-size: 12px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline:none;
    background-color: transparent;
}
.search-submit {
    display: block;
    position: absolute;
    right: 0;
    width: 48px;
    min-width: 0;
    cursor: pointer;
    height: 32px;
    background: url(//www.acgay.cn/static/node-web/image/icons.png) -653px -720px;
    margin: 0;
    padding: 0;
    border: 0;
    outline:none;
}
/* footer */
#footer {
    position: relative;
    _zoom: 1;
    margin-top: 216px;
}
#footerimg {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    height: 347px;
    background: url(//www.acgay.cn/static/node-web/image/footer.png);
    z-index: 10;
    -pie-png-fix: true;
}
#footerbar, #mainfooterbar {
    position: relative;
    background-color: #549ec8;
}
#footerbar {
    top: 294px;
    height: 53px;
}
#footerinfo, #soundfooterinfo {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

#footerinfo {
    height: 53px;
}
#powered, .powered {
    color: #fff;
    font-size: 12px;
    line-height: 17px;
}
#powered {
    position: absolute;
    top: 3px;
    left: 180px;
}

/* 播放条 */
.web-sound-m {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #000;
    background: rgba(0,0,0,.7);
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,.3);
    z-index: 31;
    transition: opacity .5s ease;
}
#m #mp {
    position: relative;
    bottom: 0;
    height: 50px;
    min-width: 400px;
    padding-left: 350px;
    padding-right: 260px;
}
#m #mp .mpb {
    position: relative;
    height: 50px;
    width: 500px;
}

#m #mp .mpb .mpfo, #m #mp .mpb .mpo {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
}

#m #mp .mppl {
    position: absolute;
    top: 25px;
    left: 0;
    width: 0;
    height: 3px;
    background: #999;
    z-index: 99;
}

#m #mp .mpb .mpfo {
    top: 15px;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    transition: top .5s ease;
    z-index: 103;
}

#m #mp .mpb .mpfo, #m #mp .mpb .mpo {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
}
#m #mp .mpl, #m #mp .mplr {
    position: absolute;
    background: #cd3333;
    left: 0;
}
#m #mp .mpl {
    top: 25px;
    width: 0;
    height: 3px;
    z-index: 100;
}
#m #mp .mpl, #m #mp .mpo, #m #mp .mppl {
    border-radius: 1.5px;
}
#m #mp .mplr {
    top: 18px;
    width: 6px;
    height: 6px;
    margin-left: -8px;
    border-radius: 8px;
    border: 5px solid #fff;
    z-index: 999;
}
#m #mp .mpl, #m #mp .mplr {
    position: absolute;
    background: #cd3333;
    left: 0;
}
#m #mp .mpsp {
    left: -128px;
}
#m #mp .mpsa, #m #mp .mpsp {
    position: absolute;
    top: 11px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    width: 115px;
    height: 30px;
    text-align: right;
    line-height: 30px;
}
#m #mp .mpb .mpo {
    top: 25px;
    background: #fff;
    z-index: 98;
}
#m #mp .mpb .mpfo, #m #mp .mpb .mpo {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
}
#m #mp .mpl, #m #mp .mpo, #m #mp .mppl {
    border-radius: 1.5px;
}
#m #mp .mpsa {
    right: -50px;
}
#m #mp .mpsa, #m #mp .mpsp {
    position: absolute;
    top: 11px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    width: 115px;
    height: 30px;
    text-align: right;
    line-height: 30px;
}
#m #mp .left-side-buttons {
    left: 32px;
}
#m #mp .left-side-buttons, #m #mp .right-side-buttons {
    position: absolute;
    top: 0;
    height: 100%;
    list-style-type: none;
}
#m #mp .left-side-buttons>li, #m #mp .right-side-buttons>li {
    position: relative;
    display: inline-block;
    float: left;
    width: 62px;
    height: 100%;
    text-align: center;
    background-color: transparent;
    transition: background-color .2s ease;
    cursor: pointer;
}
#m #mp .left-side-buttons>li, #m #mp .right-side-buttons>li {
    position: relative;
    display: inline-block;
    float: left;
    width: 62px;
    height: 100%;
    text-align: center;
    background-color: transparent;
    transition: background-color .2s ease;
    cursor: pointer;
}
#m #mp .left-side-buttons>li, #m #mp .right-side-buttons>li {
    position: relative;
    display: inline-block;
    float: left;
    width: 62px;
    height: 100%;
    text-align: center;
    background-color: transparent;
    transition: background-color .2s ease;
    cursor: pointer;
}
#m #mp .left-side-buttons>li, #m #mp .right-side-buttons>li {
    position: relative;
    display: inline-block;
    float: left;
    width: 62px;
    height: 100%;
    text-align: center;
    background-color: transparent;
    transition: background-color .2s ease;
    cursor: pointer;
}
#m #mp .right-side-buttons {
    right: 6px;
}
#m #mp .left-side-buttons, #m #mp .right-side-buttons {
    position: absolute;
    top: 0;
    height: 100%;
    list-style-type: none;
}
#m #mp #switch-quality {
    display: none;
}
#m #mp .left-side-buttons>li, #m #mp .right-side-buttons>li {
    position: relative;
    display: inline-block;
    float: left;
    width: 62px;
    height: 100%;
    text-align: center;
    background-color: transparent;
    transition: background-color .2s ease;
    cursor: pointer;
}
#m #mp .left-side-buttons>li, #m #mp .right-side-buttons>li {
    position: relative;
    display: inline-block;
    float: left;
    width: 62px;
    height: 100%;
    text-align: center;
    background-color: transparent;
    transition: background-color .2s ease;
    cursor: pointer;
}
#m #mp #fullScreen>i {
    width: 24px;
    height: 24px;
    background-image: url(//static.missevan.com/assets/www/images/build/sprite-icons.a1a8f705.png);
    background-position: -338px -472px;
    background-size: 555px 540px;
}
#m #mp #fullScreen>i, #m #mp #playlist-btn>i, #m #mp .mpcf>i, #m #mp .mpsv>i {
    margin-top: 13px;
    width: 24px;
    height: 24px;
    color: #fff;
    cursor: pointer;
    background: url(//static.missevan.com/system/missevan_icons.png) no-repeat;
    z-index: 1;
}
#m #mp .mpc .mpsv .mpsvo {
    display: none;
}
#m #mp .mpc .mpsvo {
    position: absolute;
    top: -120px;
    left: 10px;
    width: 42px;
    height: 120px;
    z-index: 160;
    background-color: #000;
    background-color: rgba(0,0,0,.7);
    border-radius: 3px 3px 0 0;
}
#m #mp #mpiprev>i {
    width: 24px;
    height: 24px;
    background-image: url(//static.missevan.com/assets/www/images/build/sprite-icons.a1a8f705.png);
    background-position: -485px -390px;
    background-size: 555px 540px;
}
#m #mp #mpiloop>i, #m #mp #mpinext>i, #m #mp #mpiprev>i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 13px;
    color: #fff;
    cursor: pointer;
}
#m #mp #mpi.mpi>i {
    width: 32px;
    height: 32px;
    background-image: url(//static.missevan.com/assets/www/images/build/sprite-icons.a1a8f705.png);
    background-position: -306px -404px;
    background-size: 555px 540px;
}
#m #mp #mpinext>i {
    width: 24px;
    height: 24px;
    background-image: url(//static.missevan.com/assets/www/images/build/sprite-icons.a1a8f705.png);
    background-position: -485px -416px;
    background-size: 555px 540px;
}
#m #mp #mpiloop.mpilooppl>i {
    width: 24px;
    height: 24px;
    background-image: url(//static.missevan.com/assets/www/images/build/sprite-icons.a1a8f705.png);
    background-position: -234px -472px;
    background-size: 555px 540px;
}
#m #mp #mpi.mpi>i {
    width: 32px;
    height: 32px;
    background-image: url(//static.missevan.com/assets/www/images/build/sprite-icons.a1a8f705.png);
    background-position: -306px -404px;
    background-size: 555px 540px;
}
#m #mp #mpi>i {
    width: 32px;
    height: 32px;
    margin-top: 9px;
    cursor: pointer;
    background: url(//static.missevan.com/system/missevan_icons.png) no-repeat;
}
#m #mp .left-side-buttons>li>i, #m #mp .right-side-buttons>li>i {
    display: inline-block;
}